<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Reddit's I follow
    link(rel="stylesheet", href="main.css")
  body
    nav
      each sub in ['javascript', 'learnjavascript', 'FreeCodeCamp', 'webpack', 'node', 'learnprogramming', 'Firebase', 'reactjs']
        span= sub

    #app
    script(src="index.js")
